<div id="container">
  <div class="row">
    <div class="col-md-4">
      <img id="product-image" src="http://images.clipartpanda.com/soda-clip-art-soda-can3.png"/>
    </div>
    <div class="col-md-4">

      <%= form_for @purchase_order, html: {id: "purchase-order-form"}  do |f|  %>
        <fieldset>
          <div class="form-group">
            <%= f.label :purchasers_name, "Name*" %>
            <%= f.text_field  :purchasers_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :address, "Address*" %>
            <%= f.text_field  :address, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :city, "City*" %>
            <%= f.text_field  :city, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :state, "State*" %>
            <%= f.text_field :state, class: "form-control" %>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Buy SOLEPOP!</button>
          </div>
        <fieldset>
      <%end%>
      <% if flash[:error] %>
          <% flash[:error].each do |value| %>
            <ul>

                  <li><%= "#{value}" %> </li>

            </ul>
          <% end %>
        <% end %>
    </div>

    <div class="col-md-4">
      <h3>Purchases</h3>
      <h6>Count: <span id ="purchase-count"></span></h6>
      <div id="hidden-count" hidden><%=@purchase_order_count%></div>
      <div id="hidden-limit" hidden><%=@limit%></div>
       <dl id ="purchase-list">
        <% @purchase_order_all.each do |po| %>
          <dt class="purchase-name"><%= po.pusher_string %></dt>
        <% end %>
      </dl>

    </div>
  </div>
</div>
